<div class="displayTable" *ngIf="false">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign In</h3>
      <div class="formGroup">
        <input
          type="text"
          class="formControl"
          placeholder="Username"
          #userName
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password"
          #userPassword
          required
        />
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input
          type="button"
          class="btn btnPrimary"
          value="Log in"
          (click)="authService.SignIn(userName.value, userPassword.value)"
        />
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button
          type="button"
          class="btn googleBtn"
          (click)="authService.GoogleAuth()"
        >
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>

      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>

    <div class="redirectToLogin">
      <span
        >Don't have an account?<span
          class="redirect"
          routerLink="/register-user"
        >
          Sign Up</span
        ></span
      >
    </div>
  </div>
</div>

<div
  style="
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  "
>
  <mat-card style="width: 80%; ">
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form #form="ngForm" autocomplete="off">
        <mat-form-field style="width: 100%;" appearance="fill">
          <mat-label>Email</mat-label>
          <input email required ngModel name="email" type="email" matInput placeholder="Ex. pat@example.com">
          <mat-hint>Please provide valid email ID</mat-hint>
          <mat-error>Please provide valid email ID</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%;" appearance="fill">
          <mat-label>Password</mat-label>
          <input required ngModel minlength="6" name="password" type="password" matInput placeholder="Password">
          <mat-hint>Password must be at least 6 characters</mat-hint>
          <mat-error>Password must be at least 6 characters</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div style="display: flex;justify-content: flex-end;padding-right: 16px;padding-bottom: 16px;">
        <button mat-raised-button>Forgot Password?</button>
        <button mat-raised-button color="warn">Login with Google</button>
        <button mat-raised-button color="primary">Login</button><br>
      </div>
      <div style="display: flex;justify-content: flex-end;padding-right: 16px;padding-bottom: 16px;">
        <a mat-button><span>Don't have an account?<span>Sign Up</span></span></a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
